#President {

  .vs-container {
    font-family: @df-sans;

    header {
      .display-flex();

      .half {
        float: left;
        width: 50%;

        .above {
          line-height: 1;
          border-bottom-width: 4px;
          border-bottom-style: solid;
          border-bottom-color: @elex-blue;
          .display-flex();
          .align-items(flex-end);
          .flex(0 0 100%);
        }

        &.trump {
          .above {
            .flex-direction(row-reverse);
            border-bottom-color: @elex-red;
          }

          .below {
            text-align: right;
          }
        }
      }

      .name {
        font-size: 16px;
        text-transform: uppercase;
      }

      .electoral.vote {
        font-weight: bold;
        font-size: 24px;
        margin: 0 16px;
      }
    }

  }

  .map-container.presidency {
    display: block;

    &::before {
      display: block;
      content: "";
      padding-bottom: percentage(560 / 640);
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}