<header class="vs">
  <% var total = 0; %>
  <% ["Clinton", "Trump"].forEach(function(candidate) { %>
  <div class="<%= candidate.toLowerCase() %> half">
    <% var result = election.ap.byCandidate[candidate].national || { percent: 0 }; %>
    <% total += result.votes %>
    <div class="above">
      <span class="name"><%= candidate %></span>
      <span class="electoral vote"><%= result.electoral || 0 %></span>
    </div>
    <div class="below">
      <span class="popular vote"><%= result.percent.toFixed(1) %>%</span>
      <ul class="state-tiles">
        <%
        for (var s in election.ap.electoral) {
          var state = election.ap.electoral[s];
          if (state.winner && state.winner.last == candidate) {
        %>
          <li class="tile" title="<%= s %>: <%= state.winner.electoralTotal %> votes"><%= s %>
        <%
          }
        }
        %>
      </ul>
    </div>
  </div>
  <% }) %>
</header>
<div class="votes-counted">
  <%= total > 1000000 ? (total / 1000000).toFixed(2) + "M" : (total / 1000).toFixed(1) + "K" %> votes counted nationwide
</div>