<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="widget.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body class="pending">

    <responsive-child class="election-widget">

      <div id="President">

        <img class="banner" src="./assets/star-banner.svg">

        <div class="vs-container">
          <%= t.include("_presidentHeader.html") %>
        </div>

      </div>

      <div class="links">
        <a class="full-results" target="_parent" href="http://projects.seattletimes.com/2016/election-results/">See all results &raquo;</a>
        Updated: <%= election.updated %>
      </div>
    </responsive-child>

    <script src="./widget.js"></script>
  </body>
</html>